@{
    ViewData["Title"] = "Home";
}

<h1>Ancestral Vault</h1>

<p>
    Welcome to the Ancestral Vault web application. This application provides access to your family history data
    stored in the vault database.
</p>

<p>
    <a asp-controller="DataFiles" asp-action="Index">View Data Files</a>
</p>
