<nav>
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="DataFiles" asp-action="Index">Data Files</a>
    <a asp-controller="DbBrowser" asp-action="Home">DB Browser</a>
</nav>
